@tailwind base;
@tailwind components;
@tailwind utilities;

.underline-custom {
    text-decoration: underline;
    text-decoration-color: #a4c4b6; /* Custom green color */
    text-underline-offset: .150rem; /* Manually set offset */
}